.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Quan ly cong viec */
.panel-heading .fa-times-circle {
    float: right;
}

.btn-heading {
    margin-bottom: 30px;
}

.mt-15 {
  margin-bottom: 15px;
}

.ml-5 {
    margin-left: 10px;
}

.panel-heading span:hover {
  cursor: pointer;
}

.sort_selected:after {
    content:"\f00c";
    font-family: FontAwesome;
    display: inline-block;
    font-weight: normal;
    float: right;
}